<!DOCTYPE html>
<!--
This file is a part of WhatCanWePlay
Copyright (C) 2020 TGRCDev

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
    <head>
        {% block head %}
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A web app for finding Steam games you and your friends already own.">
        <meta name="author" content="TGRCDev">
        {% endblock %}

        <title>
            {% block title %}{% endblock %}
            {% block title_postfix %}
             - What Can We Play?
            {% endblock %}
        </title>

        {% block styles %}
        <link rel="stylesheet" href="static/styles/default_dark.css" />
        {% endblock %}

        {% block scripts %}
        {% endblock %}

        {% endblock %}
        {% if contact_email_user_reversed and contact_email_domain_reversed %}
        <script>
            window.addEventListener("load",function() {
                var contact = this.document.getElementById("contact-link")
                var mailto = ":otliam"
                var user = "{{ contact_email_user_reversed }}"
                var address = "{{ contact_email_domain_reversed }}"
                contact.href = mailto.split("").reverse().join("") + user.split("").reverse().join("") + "@" + address.split("").reverse().join("")
            })
        </script>
        {% endif %}
    </head>
    <body>
        <div id="page-flexbox">
            <div id="header-box">
                <a id="title-link" href="/">What Can We Play?</a>
            </div>
            <div id="body-box">
                {% block content %}
                {% endblock %}
            </div>
            <div id="footer-box">
                <div>
                    <div id="copyright">© 2020 TGRCDev</div>
                    {% if commit %}<div id="commit">Commit <a href="{{ source_url ~ '/commit/' ~ commit }}">{{ commit }}</a></div>{% endif %}
                </div>
                <nav id="footer-nav">
                    {% if donate_url %}<a id="donate" href="{{ donate_url }}">Donate</a> | {% endif -%}
                    <a href="/privacy">Privacy</a> | 
                    {% if source_url %}<a href="{{ source_url }}">Source</a> | {% endif -%}
                    {% if contact_email_user_reversed and contact_email_domain_reversed %}<a id="contact-link">Contact</a>{% endif %}
                </nav>
            </div>
        </div>
    </body>
</html>