<!DOCTYPE html>
<html>
    <head>
        {% block head -%}
        {%- block meta -%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A web app for finding Steam games you and your friends already own.">
        <meta name="author" content="TGRCDev">
        {% endblock -%} {#- meta #}
        <title>
            {%- block title -%}{%- endblock -%}
            {%- block title_postfix %} - What Can We Play?{%- endblock -%}
        </title>

        {% block styles -%}
        <link rel="stylesheet" href="/static/styles/default_dark.css" />
        {%- endblock -%} {#- styles #}

        {%- block scripts -%}
        {%- endblock -%} {#- scripts -#}

        {%- endblock -%} {#- head -#}

        {% if contact_email and contact_email.user_reversed and contact_email.domain_reversed %}
        <script>
            window.addEventListener("load",function() {
                var emailElems = Array.from(this.document.getElementsByClassName("protected-email"))
                for(var contact of emailElems)
                {
                    var mailto = ":otliam"
                    var user = contact.dataset.user
                    var domain = contact.dataset.domain
                    var email = user.split("").reverse().join("") + "@" + domain.split("").reverse().join("")
                    contact.href = mailto.split("").reverse().join("") + email
                    if(contact.dataset.setTextToEmail != undefined)
                    {
                        contact.innerHTML = email
                    }
                    contact.title = ""
                    contact.classList.remove("protected-email")
                }
            })
        </script>
        {%- endif %}
    </head>
    <body>
        <div id="page-flexbox">
            <div id="header-box">
                <a id="title-link" href="/">What Can We Play?</a>
            </div>
            <div id="body-box">
                {%- block content -%}
                {%- endblock -%} {#- content -#}
            </div>
            <div id="footer-box">
                <div>
                    <div id="copyright">© 2020-2022 TGRCDev</div>
                    {%- if commit -%}
                    <div id="commit">commit {% if source_url -%}
                        <a href="{{ source_url ~ '/commit/' ~ commit }}">{% endif -%}
                            {{ commit }}{% if source_url %}</a>{% endif -%}
                    </div>
                    {%- endif -%}
                </div>
                <nav id="footer-nav">
                    {% if donate_url %}<a id="donate" href="{{ donate_url }}">Donate</a> | {% endif -%}
                    <a href="/privacy">Privacy</a> | 
                    {% if source_url %}<a href="{{ source_url }}">Source</a> | {% endif -%}
                    {% if contact_email and contact_email.user_reversed and contact_email.domain_reversed -%}
                    <a class="protected-email" title="Enable JavaScript to show the email" data-user="{{ contact_email.user_reversed }}" data-domain="{{ contact_email.domain_reversed }}">Contact</a>
                    {%- endif %}
                </nav>
            </div>
        </div>
    </body>
</html>