footer {
    background: linear-gradient(#191919, #161616);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

#donate {
    color: gold;
}

@media screen and (max-width: 600px) {
    footer {
        font-size: 14px;
    }
}