main {
    display: grid;
    justify-items: stretch;
    height: 100%;
    box-sizing: border-box;
}

main>div {
    
    border-color: #111;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Desktop Only */
@media screen and (min-width: 600px) {
    main {
        gap: 10px;
        padding: 20px;
    }

    main>div {
        border-radius: 4px;
    }
}