#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: auto 50%;
    position:relative;
}

#app div{
    border-width: 10px;
    border-style: solid;
    border-color: #121212;
    border-radius: 5px;
}

#app #submit-div {
    grid-column: 2;
    grid-row: 1;
    min-height: 64px;
    max-height: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

#games-div {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#users-div {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

#submit {
    color: #bcf73f;
    border-style: solid;
    border-radius: 5px;
    border-color: #608511;
    background-color: #608511;
    width: 80%;
    height: 64px;
    font-size: 30px;
    margin: auto;
}

#submit:hover {
    color: #516d16;
    border-color: #92d600;
    background-color: #92d600;
}

/* Desktop only */
@media (min-width:701px)
{
    #app {
        column-gap: 20px;
        row-gap: 5px;
    }

    #app #submit-div {
        border: none;
    }
}

/* Mobile only */
@media (max-width:701px)
{
    #app {
        padding-left: 0;
        padding-right: 0;
        border-spacing: default;
        grid-template-rows: auto min-content;
        width: 200%;
        overflow:hidden;
    }

    #app div {
        border-radius: 0;
    }

    #app #submit-div {
        grid-column: 1;
        grid-row: 2;
        border-top-width: 0;
    }

    #submit {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        font-size: 50px;
    }

    #app #games-div {
        grid-row-start: 1;
    }

    #app #users-div {
        grid-row-end: 1;
    }

    .scroll-to-games {
        animation-name: find-games;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-fill-mode:forwards;
    }

    .scroll-to-users {
        animation-name: select-users;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-fill-mode:forwards;
    }

    @keyframes find-games {
        from {right:0%;}
        to {right:100%;}
    }

    @keyframes select-users {
        from {right:100%;}
        to {right:0%;}
    }
}